[Unit]
Description=Change wallpaper every 15min

[Service]
Type=simple
# Environment=DISPLAY=:1
ExecStart=/home/junior/.scripts/utils/random-wallpaper

[Install]
WantedBy=default.target
