[Unit]
Description=Logs randomwallpaper.service status

[Service]
Type=forking
ExecStart=%h/.scripts/system/wallpaperlog

[Install]
WantedBy=default.target
