# vi: syntax=zsh
# Folder aliases
alias d:="cd ~/Drive-D"
alias D:="cd ~/Drive-D"
alias dl="cd ~/Downloads"
alias dc="cd ~/Documentos"
alias dev="cd ~/Dev"
alias pyf="cd ~/Dev/python"
alias jsf="cd ~/Dev/js"
alias rtf="cd ~/Dev/react"
alias angf="cd ~/Dev/angular"
alias phpf="cd ~/Dev/php"
alias flkf="cd ~/Dev/flask"
alias rorf="cd ~/Dev/rubyonrails"
alias dbc="cd ~/Dropbox"
# Config files aliases
alias zrc="vim ~/.zshrc"
alias vrc="vim ~/.vimrc"
alias txcf="vim ~/.tmux.conf"
alias i3cf="vim ~/.config/i3/config"
alias pbcf="vim ~/.config/polybar/config"
alias pbsh="vim ~/.config/polybar/launch.sh"
alias rgcf="vim ~/.config/ranger/rc.conf"
alias kcf="vim ~/.config/kitty/kitty.conf"
alias rfcf="vim ~/.config/rofi/config.rasi"
alias nfcf="vim ~/.config/neofetch/config.conf"
alias dtrc="vim ~/.config/dunst/dunstrc"
alias als="vim ~/.aliases"
# Command aliases
alias sz="source ~/.zshrc"
alias sn="spotifycli --next"
alias sp="spotifycli --prev"
alias stg="spotifycli --playpause"
alias svu="spotifycli --volumeup"
alias svd="spotifycli --volumedown"
alias pac="sudo pacman"
alias sctl="sudo systemctl"
alias gs="git status"
alias ga="git add"
alias gc="git commit"
alias gp="git push"
# Function based aliases
function glyph(){
    echo -ne "\u$1" | xclip -selection primary
    notify-send "Glyph $(xclip -o) was added to the clipboard" &> /dev/null
}

function mkd(){
    mkdir $1 && cd $1    
}

function ls(){
    ls -ahN --color=auto --group-directories-first    
}
