snippet Scriptable "Creates a basic Scriptable Object"
using UnityEngine;

[CreateAssetMenu(fileName="New $1", menuName="$1")]
public class $1 : ScriptableObject
{
	$0
}
endsnippet

snippet Monobehaviour "Creates a basic MonoBehaviour"
using UnityEngine;

public class $1 : MonoBehaviour
{
	$0
}
endsnippet
