snippet react-index
import React from 'react';
import ReactDOM from 'react-dom';
#import 'semantic-ui-css/semantic.min.css';

# Imports base component App
import App from './components/App';

# Renders App component
ReactDOM.render(<App />, document.querySelector('#root'));
endsnippet
